@model List<Comment>

@foreach (var comment in Model)
{
    <article class="p-6 mb-3 text-base bg-white border-t border-gray-200 dark:border-gray-700 dark:bg-gray-900">
        <footer class="flex justify-between items-center mb-2">
            <div class="flex items-center">
                @{
                    char firstChar = char.ToUpper(@comment.TENUSER[0]);
                    string imgSrc;

                    if (firstChar >= 'A' && firstChar <= 'Z')
                    {
                        int imgIndex = firstChar - 'A' + 1;
                        imgSrc = $"{imgIndex:D3}.png";
                    }
                    else
                    {
                        imgSrc = "default.png";
                    }
                }
                <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold">
                    <img class="mr-2 rounded-full" src="~/images/@imgSrc" alt="@comment.TENUSER" style="width: 50px; height: 50px;">@comment.TENUSER
                </p>
                @if (comment.Role == "Admin")
                {
                    <p style="">
                        <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-red-400 border border-red-400">Admin</span>

                    </p>
                }

                <p class="text-sm text-gray-600 dark:text-gray-400">
                    <time pubdate datetime="@comment.NGAYBINHLUAN?.ToString("yyyy-MM-dd HH:mm:ss")"
                          title="@comment.NGAYBINHLUAN?.ToString("MMMM dd, yyyy HH:mm:ss")">@comment.NGAYBINHLUAN?.ToString("MMM. dd, yyyy HH:mm:ss")</time>
                </p>
            </div>
            <button id="dropdownComment@comment.ID" data-dropdown-toggle="dropdownComment@comment.ID"
                    class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 dark:text-gray-40 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    type="button">
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                    <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z" />
                </svg>
                <span class="sr-only">Comment settings</span>
            </button>
        </footer>
        <p class="text-gray-500 dark:text-gray-400">@comment.COMMENT</p>
    </article>
}