@model List<User>
@{

    Layout = "User_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Nguyen Duong The Vi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <title>First Portfolio Bootstrap 5 Theme</title>
</head>




<div class="relative">
    <div class="space-y-2 pb-8 pt-6 md:space-y-5">
        <div class="py-5 sm:text-left">
            <h1 class="mb-4 text-3xl sm:text-4xl tracking-tight text-slate-900 font-extrabold dark:text-slate-200 bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent">All User</h1>
        </div>
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>

                    <th scope="col" class="px-6 py-3">
                        Tên
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Bài viết
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Bình luận
                    </th>

                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count > 0)
                {

                    @foreach (var user in Model)
                    {


                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

                            <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">


                                @{
                                    char firstChar = char.ToUpper(@user.UserName[0]);
                                    string imgSrc;

                                    if (firstChar >= 'A' && firstChar <= 'Z')
                                    {
                                        int imgIndex = firstChar - 'A' + 1;
                                        imgSrc = $"{imgIndex:D3}.png";
                                    }
                                    else
                                    {
                                        imgSrc = "default.png";
                                    }
                                }
                                <img class="w-15 h-15 rounded-full" src="~/images/@imgSrc" alt="Jese image">
                                <div class="ps-3">
                                    <div class="flex items-center">
                                        @if (user.Role == "Admin")
                                        {
                                            <div class="text-base font-semibold text-red-500">

                                                <a asp-action="User" asp-controller="Home" asp-route-id="@user.ID"> @user.UserName</a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="text-base font-semibold text-black-500">

                                                <a asp-action="User" asp-controller="Home" asp-route-id="@user.ID"> @user.UserName</a>
                                            </div>
                                        }

                                        @if (user.Status == 1)
                                        {
                                            <svg style="margin-left: 7px" class="icon" class="hover:scale-130 transition-transform" fill="#0A5DE9" width="25px" height="25px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" stroke="#0A5DE9" transform="rotate(0)matrix(1, 0, 0, 1, 0, 0)"><title> Tài khoản đã xác minh</title><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.048"></g><g id="SVGRepo_iconCarrier"><path d="M19.965 8.521C19.988 8.347 20 8.173 20 8c0-2.379-2.143-4.288-4.521-3.965C14.786 2.802 13.466 2 12 2s-2.786.802-3.479 2.035C6.138 3.712 4 5.621 4 8c0 .173.012.347.035.521C2.802 9.215 2 10.535 2 12s.802 2.785 2.035 3.479A3.976 3.976 0 0 0 4 16c0 2.379 2.138 4.283 4.521 3.965C9.214 21.198 10.534 22 12 22s2.786-.802 3.479-2.035C17.857 20.283 20 18.379 20 16c0-.173-.012-.347-.035-.521C21.198 14.785 22 13.465 22 12s-.802-2.785-2.035-3.479zm-9.01 7.895-3.667-3.714 1.424-1.404 2.257 2.286 4.327-4.294 1.408 1.42-5.749 5.706z"></path></g></svg>

                                        }

                                    </div>



                                </div>
                            </th>
                            <td class="px-6 py-4">
                                <div class="text-base font-semibold text-blue-500">@user.NumberOfPosts</div>

                            </td>
                            <td class="px-6 py-4">
                                <div class="text-base font-semibold text-red-500">@user.NumberOfComment</div>

                            </td>

                        </tr>



                    }

                }
                else
                {
                    <p>No top admin users found.</p>
                }



            </tbody>
        </table>
    </div>

</div>



</html>
